.cardWrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.cardWrapper p{
  color: #156ca2;
  font-weight: bold;
  text-align: center;
}

.cardTitle{
  font-size: 20px;
}

.cardAuthor{
  font-size: 14px;
}

@media (max-width: 1080px){
  .cardWrapper{
    width: 70vw;
    height: 20vh;
  }
}