.navbarWrapper {
  background-color: var(--strongBlue);
  height: 5%;
  width: 98vw;
  display: grid;
  padding: 2% 1vw 2% 1vw;
  grid-template-columns: 1fr 5fr 6fr;
  justify-items: center;
  align-items: center;
}

.navbarHome {
  width: 80%;
}

.navbarButtonWrapper {
  display: flex;
  width: 100%;
  flex-direction: row;
}

.navbarButton {
  background-color: #8DCBF1;
  color: white;
  width: 80%;
  text-align: center;
  border-radius: 4px;
  text-decoration: none;
  font-size: 13px;
  margin: 0px 5px 0px 5px;
}

.navbarButton p {
  margin: 4% 0px 4% 0px;
}

.navbarSearchWrapper {
  width: 85%;
  border-radius: 12px;
  background-color: #E6EEF4;
  height: 80%;
  padding: 1% 5% 1% 5%;
}

.navbarSearch {
  position: relative;
  background-color: transparent;
  border: hidden;
  bottom: 3px;
  width: 85%;
  color: #5D99BE;
  font-weight: bold;
}

.navbarSearch:focus {
  outline: none;
}

.navbarSearchButton {
  position: relative;
  background-color: transparent;
  border: hidden;
  left: 6px;
  top: 2px;
  width: 12%;
}

.navbarSearchIcon {
  width: 10%;
}

@media (min-width: 1080px) {
  .navbarSearchWrapper {
    height: 26%;
    width: 65%;
    justify-content: flex-start;
    
  }
  .navbarSearch{
    bottom: 7px;
    font-size: 20px;
  }
  .navbarSearchButton {
    top: 0;
    border:hidden;
    left: 65px;
    width:12%;
  }
  .navbarSearchIcon {
    width: 5%;
  }
}

@media (min-width: 1080px) {
  .navbarHome {
    width: 50%;
  }


  .navbarButton {
    background-color: #8DCBF1;
    color: white;
    width: 200px;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    font-size: 18px;
    margin: 0px 8px 0px 8px;
}

  .navbarButtonWrapper {
    display: flex;
    width: 95%;
    flex-direction: row;
    justify-content:flex-start;
  }
  .navbarWrapper {
  background-color: #156CA2;
  height: 3%;
  width: 98vw;
  display: grid;
  padding: 2% 1vw 2% 1vw;
  grid-template-columns: 1fr 5fr 5fr;
  justify-items: center;
  align-items: center;}
}

