.loggedWelcome{
  align-self: center;
  grid-column: 1;
  grid-row: 1;
  display: flex;
  flex-direction: row;
}

.loggedHello{
  font-size: 20px;
  color: var(--darkGrayBlue);
  margin-right: 5px;
}

.loggedName{
  font-size: 20px;
  color: var(--darkGrayBlue);
  font-weight: bold;
}

.loggedWrapper button{
  border: hidden;
  cursor: pointer;
  border-radius: 8px;
  text-decoration: none;
  color: white;
  font-size: 18px;
  text-align: center;
  align-self: center;
}

.loggedButton{
  background-color: var(--navbarButton);
  grid-column: 3;
  grid-row: 1;
  padding: 5px 0px 5px 0px;
  width: 75%;
  height: 50%;
}

.loggedChangeName{
  grid-column: 1;
  grid-row: 3;
  background-color: var(--changeInfoButton);
  width: 75%;
  height: 50%;
}

.loggedChangePassword{
  grid-column: 3;
  grid-row: 3;
  background-color: var(--changeInfoButton);
  width: 75%;
  height: 50%;
}

@media(min-width: 1080px){
  .loggedWrapper{
    width: 94vw;
    margin: 2% 3vw 0 3vw;
    height: 50vh;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 2fr 1fr 2fr 2fr;
    justify-items: center;
  }
}
